@model List<SpendFlix.Entities.ProductDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@using (Html.BeginForm("GetProducts", "Product", FormMethod.Post))
{

    <div>

        <input type="submit" value="Kaydet" name="segment-text" class="Index" />
        <label></label>
    </div>
}

@for (int i = 0; i < Model.Count; i++)
{
    <td>@Model[i].Link</td>
    <td>@Model[i].Price</td>
    <td>@Model[i].Id</td>
}

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="https://www.rubiconline.com/wp-content/uploads/2020/11/IMG_7046.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.rubiconline.com/wp-content/uploads/2020/11/IMG_7046.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title       </h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
        <div class="card-footer">
            <a href="#" class="btn btn-primary">Go somewhere</a>
            <a href="#" class="badge badge-info m-3">$9.99</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="https://www.rubiconline.com/wp-content/uploads/2020/11/IMG_7046.jpg" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">The Queens Gambit</h5>
        </div>

    </div>
</div>