@model List<SpendFlix.Entities.ProductDTO>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


<div class="row row-cols-4 row-cols-md-4 g-1">

    @foreach (var item in Model)
    {
        <div class="card">
            <img class="card-img-top" src="@item.Link" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <p class="card-text">@item.Description</p>
            </div>
            <div class="card-footer bg-light">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                    <a href="#" class="btn btn-success m-0"><b>Buy Now!</b> &nbsp; <span class="badge bg-warning text-dark"><b> @item.Price $</b></span> </a>
                </div>

            </div>
        </div>
    }
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
</div>

