@{
    ViewData["Title"] = "Home Page";
}


@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{

    <div>

        <input type="submit" value="Kaydet" name="segment-text" class="Index" />

    </div>
 }
